<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>urunler sayfasi</h1>
    <p>
        <%= urunler[3].name %>
        <%= urunler[3].price + " €" %>
    </p>
    <ul>
        <% urunler.forEach(urun => { %>
            <% if(urun.price >= 950 && urun.isActive) { %>   <!-- bahasi 950 ten buyuk ve satista olani yazdir-->
                 <li>
                    <a href="/products/<%= urun.id %>">
                        <%= urun.name %> - <%= urun.price + " €" %>
                    </a>
                    
                </li>
             <% } %>
        <% }) %> 
    </ul>
</body>
</html>